{
    # 全局选项
    admin off
    log {
        format console
        level INFO
    }
}

# 导入由 caddy-gen 生成的配置
import sites/docker-sites.caddy

# 默认站点
:80 {
    respond "Caddy default page. Please configure a specific site."
} 